@page "/admin/specialties"
@inherits MvvmComponentBase<AdminMedicalSpecialtiesViewModel>

<Column ColumnSize="ColumnSize.IsHalf" Margin="Margin.IsAuto.OnX.Is4.OnY">
    <Card>
        <CardHeader>Medical Specialties</CardHeader>
        <CardBody>
            <Table Striped Narrow>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell class="col-1">
                            <Button Color="Color.Primary" Size="Size.ExtraSmall" @onclick="ViewModel!.AddNew">Add</Button>
                        </TableHeaderCell>
                        <TableHeaderCell  class="col">
                            Medical Specialty
                        </TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var specialty in ViewModel!.Specialties)
                    {
                        <TableRow>
                            <TableRowCell>
                                <Button Color="Color.Link" Size="Size.ExtraSmall" CommandParameter="specialty" Command="ViewModel.RemoveCommand">Remove</Button>
                            </TableRowCell>
                            <TableRowCell>
                                @specialty
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        </CardBody>
    </Card>
</Column>

<Modal @bind-Visible="ViewModel!.ModalVisible" Closing="ViewModel.OnModalClosing">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Add Medical Specialty</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Description</FieldLabel>
                <TextEdit Autofocus @bind-Text="ViewModel.Specialty"/>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="ViewModel.CloseModal">Close</Button>
            <Button Color="Color.Primary" Clicked="ViewModel.Save">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>