@page "/admin/specialties"
@inherits MvvmComponentBase<AdminMedicalSpecialtiesViewModel>
@if (ViewModel is null) return;

<Container>
    <Card>
        <CardHeader>
            <CardTitle>Medical Specialties Management</CardTitle>
        </CardHeader>
        <CardBody>
            <Table Striped Narrow>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell class="col-1">
                            <Button Color="Color.Primary"
                                    Size="Size.ExtraSmall"
                                    Command="ViewModel.AddNewCommand">
                                Add
                            </Button>
                        </TableHeaderCell>
                        <TableHeaderCell class="col">
                            Medical Specialty
                        </TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <Repeater Items="ViewModel.Specialties">
                        <TableRow>
                            <TableRowCell>
                                <Button Color="Color.Link"
                                        Size="Size.ExtraSmall"
                                        CommandParameter="context"
                                        Command="ViewModel.RemoveCommand">
                                    Remove
                                </Button>
                            </TableRowCell>
                            <TableRowCell>
                                @context
                            </TableRowCell>
                        </TableRow>
                    </Repeater>

                </TableBody>
            </Table>
        </CardBody>
    </Card>
</Container>

<Modal @bind-Visible="ViewModel.ModalVisible" FocusTrap="true">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Add Medical Specialty</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Description</FieldLabel>
                <TextEdit Autofocus
                          @bind-Text="ViewModel.InputSpecialty"
                          KeyUp="ViewModel.OnInputSpecialtyKeyPress" />
                <Label>Press Enter to add more descriptions...</Label>

                <Repeater Items="ViewModel.InputSpecialties">
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit ReadOnly Text="@context" TabIndex="-1" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button TabIndex="-1"
                                    Color="Color.Danger"
                                    Size="Size.ExtraSmall"
                                    Command="ViewModel.RemoveSpecialtiesInputCommand"
                                    CommandParameter="context">
                                Remove
                            </Button>
                        </Addon>
                    </Addons>
                </Repeater>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="ViewModel.Save">
                Save Changes
            </Button>
            <Button Color="Color.Secondary" Clicked="ViewModel.CloseModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>